{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <main class="register">
        <div class="register-wrapper">
            <div class="register-wrapper-form">
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="btn">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </main>

    <style>

        header, footer, .scroll-top, .preloader{
            display: none;
        }

    </style>
{% endblock %}
